.benefit-section {
  background-color: var(--section-color);
  padding: 20px 0;
  margin-bottom: 72px;
}

.benefit-section__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .benefit-section {
    padding: 50px 0;
    margin-bottom: 100px;
  }

  .benefit-section__list {
    gap: 32px;
  }
}

@media screen and (min-width: 1140px) {
  .benefit-section {
    margin-bottom: 128px;
  }

  .benefit-section__list {
    justify-content: space-between;
    gap: 70px;
  }
}
