.button {
  font-family: "Montserrat", sans-serif;
  border-radius: 100px;
  padding: 12px 28px;
  font-weight: 600;
  font-size: 14px;
  color: var(--light-color);
}

.button--primary {
  background: var(--accent-color);
  border: 1px solid var(--accent-color);
  transition: all 0.3s;
}

.button--primary:hover {
  background: var(--light-color);
  color: var(--accent-color);
  border: 1px solid var(--light-color);
}

.button--primary:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button--ghost {
  border: 1px solid var(--light-color);
  background-color: transparent;
  transition: all 0.3s;
}

.button--ghost:hover {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.button--outline {
  color: var(--dark-color);
  background-color: transparent;
  border: 1px solid var(--accent-color);
  font-weight: 600;
  font-size: 14px;
  transition: all 0.3s;
}

.button--outline:hover {
  background: var(--accent-color);
  color: var(--light-color);
  border: 1px solid var(--accent-color);
}

.button--icon {
  background: transparent;
  border: none;
  padding: 0;
  border-radius: 0;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .button:not(.button--icon) {
    cursor: pointer;
  }

  .button--outline {
    font-size: 18px;
  }
}
